
.card-title {
    box-sizing: border-box;
    color: rgb(0, 35, 51);
    font-weight: 600;
    line-height: 1.33;
    text-align: left;
    text-decoration: none;
    display: -webkit-box;
}

.product_price{
    font-weight: 600;
    
}